<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.crm.OrangeHRM.framework.BuzzFinal"/>
      <class name="com.crm.OrangeHRM.framework.PerformFinal"/>
      <class name="com.crm.OrangeHRM.framework.EnterContactDetails"/>
      <class name="com.crm.OrangeHRM.framework.AdminFinal"/>
      <class name="com.crm.OrangeHRM.framework.EnterPersonalDetails"/>
      <class name="com.crm.OrangeHRM.framework.PerformanceFinal"/>
      <class name="com.crm.OrangeHRM.framework.RecruitementD"/>
      <class name="com.crm.OrangeHRM.framework.EnterEmergencyContacts"/>
      <class name="com.crm.OrangeHRM.framework.Maintenence"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
